<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241705861802-4jmfud0ph4qk9q7lbjj3m6v409lco5sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241705861802-4jmfud0ph4qk9q7lbjj3m6v409lco5sf</string>
	<key>API_KEY</key>
	<string>AIzaSyBHWS2IwrpcImlkmxegKfFfERL1P-w4cK8</string>
	<key>GCM_SENDER_ID</key>
	<string>241705861802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dartapp</string>
	<key>PROJECT_ID</key>
	<string>dartapp-5d346</string>
	<key>STORAGE_BUCKET</key>
	<string>dartapp-5d346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241705861802:ios:31ee7e729ab3fa999ac6d3</string>
</dict>
</plist>